// Place all the styles related to the admins/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 管理画面ユーザー一覧の利用状況バッチ
.bg-pink {
  color: #fff;
  background-color: #FC6C8C;
}

.bg-gray {
  color: #fff;
  background-color: #8E8D8D;
}