version: '3'
services:
  db:
    platform: linux/x86_64
    image: mysql:5.7
    volumes:
      - ./db/mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
  app:
    build: .
    command: bundle exec puma -C config/puma.rb
    volumes:
      - .:/app
      - public-data:/app/public
      - tmp-data:/app/tmp
      - log-data:/app/log
    ports:
      - 3000:3000
    depends_on:
      - db
    tty: true
    stdin_open: true
  web:
    build:
      context: ./nginx
    volumes:
     - public-data:/app/public
     - tmp-data:/app/tmp
    ports:
       - 80:80
    depends_on:
      - app
volumes:
  public-data:
  tmp-data:
  log-data:
