<h1>Boo!Boo!Bookとは？</h1>
<p>Boo！Boo！Bookとは、本を読んだ時間を記録することにより、
あなたの読書の習慣づけをサポートします。
また、記録された読書の時間の長さに応じて、アプリ中に登場するキャラクターが成長します。
読書を楽しみながら、キャラクター育成を楽しむ。そんなステキな時間を本アプリでお過ごしください！
</p>

<%= link_to "戻る", users_path %>
