<div class="helptitle">
  <h1>Boo!Boo!Bookとは？ <%= image_tag "King.png" , size: "50x50" %></h1>
</div>

<div class="explanation">
  <p class="mx-3">Boo ! Boo ! Bookとは、本を読んだ時間を記録することにより、あなたの読書の習慣づけをサポートするアプリです！<br>
  毎日の読書時間が記録されると、アプリ内のぶたさんが成長していくシステムになっています。<br>
  成長したぶたさんはどうなるのか・・・？<br>
  毎日の読書を楽しみながらあなたのぶたさんを成長させましょう！<br>
  </p>
</div>  

<div class="button">
  <p class="mx-3">Boo ! Boo ! Bookに関するご質問は、
コチラからメールにてお問い合わせください。
  </p>
  <%= link_to "問い合わせフォーム", users_path, class: "btn inquiryform" %>
  <p></p>
  <%= link_to "戻る", users_path, class: "btn back" %>
  <p></p>
</div>