<div class="backcolor">
  <div class="row justify-content-center background-pink">
    <div class="col-md-6 mx-auto content-padding">
      <h1 class="mt-3 mb-3 h1color">ようこそ<br>Boo!Boo!Bookへ!</h1>
      <p class="introduction">
        Boo!Boo!Bookでは、あなたが読書した時間の長さによってキャラクターが成長します。
        本を読めば読むほどキャラクターは成長するので、たくさん本を読みましょう！
      </p>
      <p>
        <%= link_to "アカウント登録", new_user_registration_path, class: "btn btn-registration py-3 d-grid gap-1 col-4 mx-auto" %>
      </p>
      <p>
        既にアカウントをお持ちの方　
        <%= link_to "ログイン", new_user_session_path,class: "text-center login-btn" %>
      </p>
      </div>
      <div class="top-image">
      <%= image_tag('Book.png') %>
    </div>
  </div>
</div>
