<div class="wrap" id="ajax-response">
  <div class="container-fluid">
    <div class="row">
      <% for i in 0..19 do %>
        <div class="result-box my-3">
          <% if results["items"][i]["volumeInfo"]["imageLinks"].nil? %>
            <%= image_tag("no_image.png", size: "120x100") %>
          <% else %>
            <img src="<%= results["items"][i]["volumeInfo"]["imageLinks"]["thumbnail"] %>" >
          <% end %>
          <% if results["items"][i]["volumeInfo"]["title"].nil? %>
            <h4 class="title">タイトル情報がありません</h4>
          <% else %>
            <h4 class="title">タイトル：<%= results["items"][i]["volumeInfo"]["title"] %></h4>
          <% end %>
          <% if results["items"][i]["volumeInfo"]["authors"].nil?  %>
            <p class="author">著者情報がありません</p>
          <% else %>
            <p class="author">著者：<%= results["items"][i]["volumeInfo"]["authors"][0] %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>