<div class="container">
  <p>現在読書中：『<%= @book.book_name %>』</p>
<p>読書したい本を選んでください</p>
<hr>
  <% @books.each do |book| %>
    <div class="row">
      <p><%= book.book_name %>→これにする</p>
    </div>
  <% end %>
</div>


