<div class="container">
  <p>book_id：<%= @current_book.id %></p>
  <p>現在読書中：『<%= @current_book.book_name %>』</p>
  <p>読書したい本を選んでください。
  <br>
  ※選択した書籍以外のステータスは「中断中」になります。</p>
  <hr>

  <div class="row">
    <% @other_books.each do |book|%>
      <%= link_to book.book_name, user_book_path(current_user, @books), id: book.id, controller: :books, action: "update",method: :update %>
      <%#リダイレクト先がstudy_times#createになってしまっている%>
    <% end %>
  </div>

</div>
<script>
$(".book_name").click(function() {
  $(this).css("filter", "opacity(100%)");
  $(".book_name").not(this).css("filter", "opacity(20%)");
  //クリックしたアイコンのidをstatusのvalueにする
  const clicked_book = $(this).attr("id");
  const book_value = document.querySelector("clicked_book");
});
</script>

<!--
メモ
案①
・formではIDを取得
・controllerかmodel側でそのIDのstatusを変更する処理を記述する

現在：
Viewのformに誤りがあるため修正中
formの中のvalueが”読書中”にできない
radio_buttonやcollection_selectではvalue属性項目をviewから指定しずらい
オリジナルでformを作成した方が無難か？
配列でparamsを受け取る？

おそらくhidden_fieldのvalueを、クリックした要素のid(value)を
付与してpatchする処理が良いかと思われる。
- eachで全ての書籍を表示させる（ページネーション必要かも）
- クリックした要素のidをvalueとしてhidden_fieldに渡すJSを描く
- patchリクエストした書籍を「読書中」に変更するメソッド
- かつて「読書中」だった書籍は「中断中」に変更するメソッド
-->
