$pink: #FCBCD4;
$deep_pink: #FC6C8C;
$light_gray: #F1F1F1;
$mid_gray: #D1CFCF;
$dark_gray: #8E8D8D;
$navy: #25507C;

.button {
  text-align: center;
  padding: 100px;
}

.btn {
  color: white;
}

.inquiryform {
  background-color: $pink;
}

.back {
  background-color: $mid_gray;
}