$pink: #FCBCD4;
$deep_pink: #FC6C8C;
$light_gray: #F1F1F1;
$mid_gray: #D1CFCF;
$dark_gray: #8E8D8D;
$navy: #25507C;

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
/* 通常のログインボタン色 */
.btn-primary,
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: $pink;
  border-color: $pink;
}

/* focusされた時の枠線の色 */
.btn-primary:focus, .btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(200, 123, 255, 0.5);
}

/* hover時（マウスカーソルを重ねた時）の色 */
.btn-primary:hover {
  color: #fff;
  background-color: $deep_pink;
  border-color: $deep_pink;
}

/* active時の色 */
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $deep_pink;
  border-color: $deep_pink;
}
