$pink: #FCBCD4;
$deep_pink: #FC6C8C;
$light_gray: #F1F1F1;
$mid_gray: #D1CFCF;
$dark_gray: #8E8D8D;
$navy: #25507C;

.header{
	background-color: #FCBCD4;
  color: #25507C;
  width: 100vw;
  height: 88px;
	position: fixed;
	margin-top: 97px;
	top: -1px; left: 0px;
}

.header h3{
	font-size: 24px;
	padding-left: 20px;
}

.form-group{
	padding-bottom: 5%;
}

.btn-primary{
  margin-top: 40%;
}

/* ピンクボタン_通常 */
.btn-pink,
.btn-pink.disabled, .btn-pink:disabled {
  color: #fff;
  background-color: $pink;
  border-color: $pink;
}
/* ピンクボタン_focusされた時の枠線の色 */
.btn-pink:focus, .btn-pink.focus,
.btn-pink:not(:disabled):not(.disabled):active:focus, .btn-pink:not(:disabled):not(.disabled).active:focus,
.show > .btn-pink.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(200, 123, 255, 0.5);
}
/* ピンクボタン_hover時（マウスカーソルを重ねた時）の色 */
.btn-pink:hover {
  color: #fff;
  background-color: $deep_pink;
  border-color: $deep_pink;
}
/* ピンクボタン_active時の色 */
.btn-pink:not(:disabled):not(.disabled):active, .btn-pink:not(:disabled):not(.disabled).active,
.show > .btn-pink.dropdown-toggle {
  color: #fff;
  background-color: $deep_pink;
  border-color: $deep_pink;
}

.justify-content-center{
	margin-top: 10%;
}

.form-group{
	margin-left: 29%;
}

