$pink: #FCBCD4;
$deep_pink: #FC6C8C;
$light_gray: #F1F1F1;
$mid_gray: #D1CFCF;
$dark_gray: #8E8D8D;
$navy: #25507C;

.backcolor{
	background-color:$pink;
	margin: 0 calc(50% - 50vw);
}

.content-padding{
	padding: 0 8%;
}

.h1color{
	color: $navy;
}

.introduction{
	color: $navy;
}

.background-pink {
	background-color:$pink;
}

.btn-registration{
	background-color: white;
	width: 160px;
	color: $navy;
	font-weight: bold;
	}

.btn-registration:hover{
	background-color: $deep_pink;
	color: white;
	font-weight: bold;
}

.btn-registration:active{
	background-color: $deep_pink;
	color: white;
	font-weight: bold;
}

.login-btn{
	font-weight: bold;
}

.top-image{
	// position: absolute;
	position:relative;
	top: 80px;
	text-align: center;
	margin: auto;
}
