// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon-size {
  height: 180px;
  width: 180px;
  @media (max-width: 767px) {
    height: 70px;
    width: 70px;
  }
}
