<p>ユーザー登録ありがとうございます !</p>

<p>下記の「メールアドレス確認」をクリックして二段階認証を完了してください。</p>

<p><%= link_to 'メールアドレス確認', controller: 'users/confirmations', action: 'create', confirmation_token: @token %></p>

<p>心当たりがない場合は、本メッセージは破棄してください。</p>

<p>Boo!Boo!Book</p>
