<div class="background">
  <div class="row justify-content-center">
    <div class="col-md-6 mx-auto">
      <h1 class="text-center"><b>登録が完了しました！</b></h1>
      <p class="text-center">
      <br>
      登録されたメールアドレスへURLをお送りしました。<br>
      メールに記載されたURLからBoo!Boo!Bookを始めましょう！
      </p>
    </div>
  </div>  
</div>
<div class="picture">
  <%= image_tag("Book.png") %>
</div>
